/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

a {
     text-decoration: none;
     color: black;
}

/******************************************
/* LAYOUT
/*******************************************/

/* #header */
/* ***************************************** */

.nav-menu{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     margin: 0;
}

.nav-item{
     display: flex;
     justify-content: flex-end;
     position: fixed;
     background-color: cadetblue;
     min-width: 100%;
     padding: 2rem;
     top: -20px;
     right: 0;
     transition: transform 0.3s ease-in-out;
}

.nav-item.active {
     transform: translateY(-150px)
}

.nav-link{
     padding-left: 20px;
     list-style: none;
}

#nav-btn {
     border: none;
     position: fixed;
     top: 100px;
     left: 30px;
     padding: 0.5rem;
     font-size: 30px;
     transition: transform 0.3s ease-in-out;
}

#nav-btn.active {
     transform: translateY(-80px);
}

header > h1 {
     text-align: center;
     padding-top: 80px;
} 

/* #one */
/* **************************************** */
#one > div{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
